:root {
    --text-color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.container {
    background-color: darkgreen;
    align-items: center;
    width: 1200px;
    height: 800px;
}

header {
    height: 70px;
    color: var(--text-color);
    border: 2px solid black;
}

.game {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
}

h2 {
    color: white;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 2px solid whitesmoke;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

@media (max-width: 700px) {
    .game {
        display: flex;
        flex-direction: column;
    }

    .container {
        width: 500px;
        height: auto;
    }
    
}